@font-face {
    font-family: 'Superior';
    src: local('Superior'), url(./fontsd/Superior\ Title\ Black\ Regular.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Superior';
    src: local('Superior'), url(./fontsd/Superior\ Title\ Black\ Regular.ttf) format('truetype');
  }